@import url('https://fonts.googleapis.com/css?family=Coiny');
body {
  font-family: "Borel";
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

p,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to left, #c9e2f5, #f8cdaa);
}

.nav-link {
  color: #222;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 5px #f0932b, 0 0 25px #f0932b, 0 0 50px #f0932b,
    0 0 100px #f0932b;
}

.navbar-brand {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 0 8px 9px #f0932b, 0px -2px 1px #fff;
  font-weight: bold;
}

h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0 8px 9px #f0932b, 0px -2px 1px #fff;
  font-weight: bold;
}

.btn--action {
  display: block;
  width: 30%;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #ffd6ba;
  color: #000;
  transition: all 0.5s ease 0s;
  box-shadow: 0 10px #b57347;
}

.btn--action span {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
}

.btn--action span:before {
  content: "🐾";
  color: #000;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 1.5rem;
  opacity: 0;
  transition: all 0.1s ease 0s;
}

.btn--action:hover span {
  padding-left: 1.5rem;
}

.btn--action:hover span:before {
  left: 0;
  opacity: 1;
}

.btn--action:active {
  box-shadow: 0 5px #f0932b;
  transform: translateY(5px);
}

.section1-description {
  font-size: 1.25rem;
}

.section-bg {
  background: rgb(242,203,158);
background: linear-gradient(0deg, rgba(242,203,158,0.742734593837535) 15%, rgba(156,222,208,0.8995973389355743) 74%);
  padding-top: 90px; /* Ajusta el valor según la altura de tu barra de navegación */

}
p {
  text-align: justify;
  margin: 30px;
}
.section-title{
  padding: 5%;
}
.col-md-4{
  padding: 3.5%;
}
.no-navbar {
  margin-top: 0px;
  position: relative;
  background-color: #fff;
  z-index: 100000; /* Coloca la sección por encima del navbar */
}

.page-title{
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(imagenes/pexels-rafael-cerqueira-4737484.jpg);
	background-size: auto;
	font-size: 5rem;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
.btn-primary{
  background-color: rgba(39, 152, 172, 0.9);
  border: 0pxs;
}
.btn-primary:hover{
  background-color: rgba(156,222,208,0.8995973389355743);
  color: #000;
  border: 0pxs;
}